body{
    font-family:"Inter", sans-serif;
    background-color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
   

    color: white;
    background-color: #214115;


}

header a{
    text-decoration: none;
    color: white;
    align-items: center;
    margin-left: .8rem;

    font-weight: 500;

    
}

header button{
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;

    padding: .3rem;

    margin-top: 0;

    border: 1px solid #214115;
    
    &:hover{
        transform: translateY(-2px);
        transition: transform 0.3s ease-out; 
    }
}

.header-div{
    display: flex;
    align-items: center;
    flex-direction: column;

    &:hover{
        transform: translateY(-5px);
        transition: transform 0.3s ease-out; 
    }

}



.car-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    margin-top: 2rem;
}

.car-name{
    font-weight: 600;
    font-size: medium;
}


.car-card img{
    width: 80%;
    max-height: 80%;
    border-radius: .25rem;

    align-items: center;
    
}

#modal-1{
    border: 1px solid #214115;
    border-radius: .25rem;

}

.foto-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .25rem;  
    
}

#info-button{
    background-color: #000000;
    border: 1px solid #e7d2d2;
    color: white;
    align-items: center;
    font-weight: 600;

    border-radius: .25rem;
    
    padding: .6rem;

    &:hover{
        transform: translateY(-3px);
        transition: transform 0.3s ease-out; 
    }
}

.foto{
    width: 100%;     
    height: 100%;      
    object-fit: cover; 
}

.car-infos{
    display: flex;
    flex-direction: column;
    color: #000000;
    margin: .5rem;
    padding: 1rem;

    gap: .3rem;
    width: 80%;

    background-color: #f5f5f5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);

    border-radius: .25rem;
}

.preview{
    max-width: 80%;
    border-radius: .25rem;

    
}




.car-version, #car-year, #car-transmission{
    font-size: small;
}

.car-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

    width: 100%;
}

#cost-button{
    background-color: #000000;
    border: 1px solid #e7d2d2;
    color: white;

    border-radius: .25rem;
    width: 30%;
    padding: .4rem;
}

