body{
    font-family:"Inter", sans-serif; ;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;


}

header a{
    text-decoration: none;
    color: #214115;
    align-items: center;

    font-weight: 500;
}

header button{
    display: flex;
    align-items: center;
    color: #214115;

    padding: .5rem;

    margin-top: 0;

    border: 1px solid #214115;
    
    &:hover{
        background-color: #D3D3D3 ;
    }
}

.header-div{
    display: flex;
    align-items: center;
}



.car-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    margin-top: 2rem;
}

.car-name{
    font-weight: 600;
    font-size: medium;
}


.car-card img{
    width: 80%;
    max-height: 80%;
    border-radius: .25rem;

    align-items: center;
    
}



.foto-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid red;    
    
}

.foto{
    width: 100%;       /* Deve preencher 100% da largura do pai */
    height: 100%;      /* Já está funcionando, preenchendo a altura */
    object-fit: cover; /* Garante que não haja espaço vazio */
}

.car-infos{
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-top: .5rem;

    gap: .3rem;
    width: 80%;

    background-color:#D3D3D3;
    border-radius: .25rem;
}

.preview{
    max-width: 80%;
    border-radius: .25rem;

    
}




.car-version, #car-year, #car-transmission{
    font-size: small;
}

.car-price{
    font-weight: 500;
}

#cost-button{
    background-color: #000000;
    border: 1px solid #e7d2d2;
    color: white;

    border-radius: .25rem;
    width: 30%;
    padding: .4rem;
}

