button{
    all: unset;
    font-weight: 500;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 2rem;
    

    &.btn-primary{
        color: #214115;
        border: 1px solid #214115;

        align-items: center;

        &:hover{
            background-color:#D3D3D3 ;
        }


    }

    &.btn-secondary{
        border: 1px solid var(--stroke-highlight);
        margin-left: auto;
    }

}

.actions-wrapper{
    display: flex;
    justify-content: end;
    gap: .75rem;
    margin-top: .75rem;
}